//Navigation bar
.header-scroll{
    height: 90px !important;
    background-color: #002A3A !important;
    overflow: hidden; 
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;

}
.header-logo{
    width: 80px;
    height: 50px;
    transition: 0.3s;
}
header{
    width: 100%;
    height: 102px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: $bgd-nav;
    & .main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 102px;
        background-color: $bgd-nav;
        &__icon{
            display: none;
            &--line{
                width: 35px;
                height: 5px;
                margin: 5px 0;
                background-color: $ft-txt;
            }
        }
        &__list{
            display: flex;
            column-gap: 48px;
        }
        &__item{
            position: relative;
            font-family: $ff-poppins;
            font-size: var(--fz-filter);
            font-weight: var(--fw-nav);
            line-height: var(--lh-nav);
            letter-spacing: 0.045em;
            &--line{
                height: 19px;
                width: 2px;
                margin: 0 -18px;
                color: #D8D8D8;
                background-color: #D8D8D8;
            }
        }
        &__item:last-child{
            margin-left: 1px;
        }
        &__link{
            color: $ft-txt;
            &:hover{
                cursor: pointer;
                transition: all .5s;
                color: $bgd-footer;
            }
        }
        &__cart{
                color: $ft-txt;
            &--qty{
                margin-left: 11px;
                padding: 4px 6px;
                border-radius: 2px;
                font-family: $ff-archivo;
                font-size: var(--fz-navbar);
                font-weight: var(--fz-nav);
                line-height: var(--lh-qty);
                color: $ft-txt;
                background-color: $bgd-footer;
            }
        }
        &__lang{
            &--list{
                display: inline-block;
                &:hover ul{
                    display: block;
                    position: absolute;
                }
            }
            &--icon{
                margin-left: 6px;
                color: $ft-txt;
            }
            &--option{
                margin: 0;
                padding: 0;
                display: none;
                position: absolute;
                top: 25px;
                right: 0px;
                width: 145px;
                border-radius: 5px;
                border: 1px solid #f8f8f8;
                box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
                background-color: #fff;
            }
            &--detail{
                display: flex;
                justify-content: space-between;
                list-style: none;
                text-align: left;
            }
            &--link{
                display: block;
                width: 145px;
                padding: 5px 10px;
                color: $bgd-nav;
                text-decoration: none;
                &::before{
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    vertical-align: middle;
                    margin-right: 10px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &.vi::before{
                    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/2000px-Flag_of_Vietnam.svg.png');
                }
                &.la::before{
                    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/56/Flag_of_Laos.svg');
                }
                &.fr::before{
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAR8AAACwCAMAAAABtJrwAAAAbFBMVEX////tHSYtNokkLoVzfLPtFR/8/P8oNIgrN4nxTlU0RJT81truChitsNIXKIPsAA/7ra/1gYaDibghLIbsAACIj7yBh7j95uj1mJ0qPZEVI4LxSFAkNo4HHn9rdq/xREyztNfGydz87vD7u7lKisY3AAABYElEQVR4nO3QyYoCMRRAUTUO5dxtlfPc/v8/doGCheii5C0Ez12E8BJIOI2GJEn6kuaz0Bbj4P8tf2Nb1Xu+u85TXpbSfakOyjU93rhdue3zVD3cHIJ9hsUosum2ps+gl7XKsuta2b4YZM8G93upHe0zakbW6b/nExUfPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHDhw8fPnz48OHzlT67zSSy/SHap5hGVhxrvn8ax3YO9vn7ie0S/D9JkvTB/QPwKuJut5f+igAAAABJRU5ErkJggg==');
                }
                &.ko::before{
                    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_South_Korea_%281945%E2%80%931948%29.svg/2560px-Flag_of_South_Korea_%281945%E2%80%931948%29.svg.png');
                }

            }
        }
    }
}
//Main product
main{
    width: 100%;
    .main__wrapper{
        .main-products__wrapper{
            max-width: 1219px;
            margin: 155px auto 0 auto;
            padding: 0 15px;
            &.main-products{
                display: flex;
                gap: 115px;
            }
        }
        .main-products{
            &__slider{
                max-width: 589px;
                width: 40.903vw;
                .swiper {
                    &.mySwiper2 {
                        // height: 40.903vw;
                    }
                    &.mySwiper {
                        margin: 18px 0 0 0;
                        & .swiper-slide{
                            padding: 10px;
                            opacity: 0.7;
                            &:hover{
                                border: 1px solid #A5A5A5;
                            }
                            img{
                                display: block;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        & .swiper-slide-thumb-active {
                            border: 1px solid #A5A5A5;
                            opacity: 1;
                        }
                    }
                    &-slide{
                        background-size: cover;
                        background-position: center;
                        text-align: center;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                        img{
                            // padding: 10px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &-button-prev{
                        margin-left: 54px; 
                        cursor: pointer;
                        &::after{
                            font-size: var(--fz-filter) !important;
                        }
                        &:hover{
                            opacity: 0.6;
                        }
                    }
                    &-button-next{
                        margin-right: 54px; 
                        cursor: pointer;
                        &::after{
                            font-size: var(--fz-filter) !important;
                        }
                        &:hover{
                            opacity: 0.6;
                        }
                    }
                }
            }
            &__desc{
                max-width: 485px;
                // width: 33.681vw;
                padding: 50px 0 86px 0;
                .error{
                    display: none;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 99;
                    &__container{
                        max-width: 616px;
                        max-height: 253px;
                        min-width: 300px;
                        min-height: auto;
                        width: 40.486vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 32px;
                        padding: 32px 15px;
                        background-color: $ft-txt;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 3px;
                        &--title{
                            font-family: $ff-roboto;
                            font-weight: var( --fw-title);
                            font-size: var(--fz-main);
                            line-height: var(--lh-title);
                            text-align: center;
                            letter-spacing: var(--lt-2);
                            color: #001A31;
                        }
                        &--mess{
                            font-family: $ff-poppins;
                            font-weight: var(--fw-main);
                            font-size: var( --fz-filter);
                            line-height: 150%;
                            text-align: center;
                            padding: 0 32px;
                            color: #001A31;
                            span{
                                font-weight: var(--fw-title);
                            }
                        }
                        &--btn{
                            max-width: 522px;
                            min-width: 200px;
                            width: 36.250vw;
                            max-height: 48px;
                            min-height: 25px;
                            height: 3.333vw;
                            background: linear-gradient(86.15deg, #957327 0%, #DFC47A 100%);
                            border-radius: 30px;
                            span{
                                font-family: $ff-poppins;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 21px;
                                text-align: center;
                                letter-spacing: 0.05em;
                                color: #FFFFFF;
                            }
                        }
                    }
                    // &::after{
                    //     position: fixed;
                    //     content: "";
                    //     top: 0;
                    //     left: 0;
                    //     bottom: 0;
                    //     right: 0;
                    //     background: #000000;
                    //     opacity: 0.5;
                    //     z-index: -1;
                    // }
                }
            }
            &__name{
                margin-bottom: 16px;
                font-family: $ff-roboto;
                font-size: var(--fz-title);
                font-weight: var(--fw-title);
                line-height: var(--lh-title);
                letter-spacing: var(--lt-2);        
                color: #001A31;
            }
            &__price{
                font-family: $ff-poppins;
                font-weight: var(--fw-main);
                font-size: var(--fz-txt);
                line-height: var(--lh-title);
                letter-spacing: var(--lt-2);
                color: #001A31;
            }
            &__filter{
                display: flex;
                align-items: flex-start;
                column-gap: 45.25px;
                margin-top: 16px;
            }
            &__btn{
                position: relative;
                background: none;
                border: none;
                outline: none;
                font-family: $ff-poppins;
                font-weight: var(--fw-main);
                font-size: var(--fz-navbar);
                line-height: var(--lh-title);
                color: #A5A5A5;
                &.active{
                    font-family: $ff-poppins;
                    font-weight: var(--fw-nav);
                    font-size: var(--fz-navbar);
                    line-height: var(--lh-title);
                    color: #001A31;
                }
                &:nth-child(1)::after, &:nth-child(2)::after, &:nth-child(3)::after{
                    content: "";
                    display: block;
                    width: 100%+28%;
                    height: 4px;
                    margin-top: 9px;
                    position: absolute;
                    border-radius: 15px;
                    transition: all 0.3s ease;
                }
                &:nth-child(1)::after{
                    background: linear-gradient(89.96deg, #4B4B4B 1.81%, #A1A1A1 74.47%, #8A8A8A 100.01%);
                }
                &:nth-child(2)::after{
                    background: linear-gradient(90deg, #1C1B1B -0.02%, #414141 67.2%, #2D2C2C 100.03%);
                }
                &:nth-child(3)::after{
                    background: linear-gradient(90deg, #BD369F -0.03%, rgba(117, 34, 99, 0.5) 108.05%);
                }
                &:hover{
                    font-family: $ff-poppins;
                    font-weight: var(--fw-nav);
                    font-size: var(--fz-navbar);
                    line-height: var(--lh-title);
                    color: #001A31;
                    // transform: scale(1.2);
                }
            }
            &__qty{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 61px;
                margin-bottom: 16px;
                p{
                    margin-right: 38px;
                    font-family: $ff-poppins;
                    font-weight: var(--fw-main);
                    font-size: var(--fz-navbar);
                    line-height: var(--lh-title);
                    letter-spacing: var(--lt-2);
                    color: #000000;
                }
                &--numbers{
                    display: flex;
                    width: 134px;
                    text-align: center;
                    align-items: center;
                    background: #ffffff;
                    border: 1px solid #f2f2f2;
                    border-radius: 24px;
                    .btn-incre{
                        padding: 13px 14px 14px 20px;
                        border: none;
                        font-family: $ff-poppins;
                        font-weight: var(--fw-nav);
                        font-size: var(--fz-text);
                        line-height: var(--lh-title);
                        letter-spacing: var(--lt-2);
                        color: #000000;
                        cursor: pointer;
                        background: none;
                        -webkit-appearance: none;
                    }
                    .btn-decre{
                        padding: 13px 20px 14px 14px;
                        border: none;
                        font-family: $ff-poppins;
                        font-weight: var(--fw-nav);
                        font-size: var(fz-text);
                        line-height: var(--lh-title);
                        letter-spacing: var(--lt-2);
                        color: #000000;
                        cursor: pointer;
                        background: none;
                        -webkit-appearance: none;
                    }
                    .qty{
                        width: 39px;
                        height: 21px;
                        border: none;
                        outline: none;
                        font-family: $ff-poppins;
                        font-weight: var(--fw-nav);
                        font-size: var(--fz-text);
                        line-height: var(--lh-title);
                        text-align: center;
                        letter-spacing: var(--lt-2);
                        -webkit-appearance: none;
                    }
                }
            }
            &__btnGroup{
                display: flex;
                column-gap: 16px;
                .btn-add{
                    width: 16.319vw;
                    height: 3.333vw;
                    max-width: 234px;
                    min-width: 100px;
                    max-height: 48px;
                    min-height: 28px;
                    border-radius: 30px;
                    border: 2px solid;
                    border-color: linear-gradient(#CC9F3A 100%, #EBCF82 100%);
                    font-family: $ff-poppins;
                    font-weight: var(--fw-nav);
                    font-size: var(--fz-navbar);
                    line-height: var(--lh-btn);
                    text-align: center;
                    letter-spacing: var(--lt-1);
                    color: #CB9D37;
                    cursor: pointer;
                    background: #F5F5F5;
                    &:hover{
                        transition: 0.5s ease-out;
                        color: #FFFFFF;
                        background: linear-gradient(86.15deg, #957327 0%, #DFC47A 100%);
                    }
                }
                .btn-order{
                    width: 16.319vw;
                    height: 3.333vw;
                    max-width: 234px;
                    min-width: 100px;
                    max-height: 48px;
                    min-height: 28px;
                    border-radius: 30px;
                    font-family: $ff-poppins;
                    font-weight: var(--fw-nav);
                    font-size: var(--fz-navbar);
                    line-height: var(--lh-btn);
                    text-align: center;
                    letter-spacing: var(--lt-1);
                    color: #FFFFFF;
                    cursor: pointer;
                    background: linear-gradient(86.15deg, #957327 0%, #DFC47A 100%);
                    &:hover{
                        border: 2px solid;
                        border-color: linear-gradient(#CC9F3A 100%, #EBCF82 100%);
                        transition: 0.5s ease-out;
                        color: #CB9D37;
                        background: #F5F5F5;
                    }
                }
            }
            &__filterDesc{
                margin-top: 48px;
                &--detail{
                    margin-bottom: 24px;
                    font-family: $ff-poppins;
                    font-size: var(--fz-filter);
                    font-weight: var(--fw-title);
                    line-height: var(--lh-txt);
                    color: #001A31;
                    span{
                        font-family: $ff-poppins;
                        font-size: var(--fz-filter);
                        font-weight: var(--fw-main);
                        line-height: var(--lh-txt);
                        color: #001A31;
                    }
                }
            }
        }
        //pro-content
        .pro-content{
            margin-top: 96px;
            &__tabs{
                margin-bottom: 47px;
            }
            &__list{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 48px;
                margin: 0 auto;
                border-bottom: 1px solid $bgd-collections;
            }
            &__item{
                padding-bottom: 15px;
                position: relative;
            }
            &__link{
                position: relative;
                font-family: $ff-roboto;
                font-weight: var(--fw-main);
                font-size: var(--fz-name);
                line-height: var(--lh-title);
                letter-spacing: var(--lt-2);
                color: #A5A5A5;
                background: none;
                &.active{
                    font-weight: var(--fw-title);
                    font-size: var(--fz-name);
                    line-height: var(--lh-title);
                    letter-spacing: var(--lt-2);
                    color: #CB9D37;
                    &::after{
                        content: "";
                        display: block;
                        width: 100%;
                        height: 3px;
                        margin-top: 14px;
                        position: absolute;
                        background-color: #001A31;
                        transition: all .3s;
                    }
                }
                &:hover::after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 3px;
                    margin-top: 14px;
                    position: absolute;
                    background-color: #001A31;
                    transition: all 0.3s ease;
                }
            }
            &__detail{
                color: #001A31;
                font-family: $ff-poppins;
                &.pro-content__container{
                    max-width: 785px;
                    margin: 0 auto;
                }
            }
            &__policy,&__infor{
                &--return,&--list{
                    margin-bottom: 48px;
                }
                &--spacing{
                    margin-bottom: 24px;
                }
                h2{
                    font-size: var(--fz-main);
                    font-weight: var(--fw-title);
                    line-height: var(--lh-content);
                }
                h4{
                    font-size: var(--fz-text);
                    font-weight: var(--fw-title);
                    line-height: var(lh-txt);
                }
                p{
                    font-size: var(--fz-text);
                    font-weight: var(--fw-main);
                    line-height: 25.6px;
                    letter-spacing: 2.5%;
                }
                ul{
                    padding-left: 20px;
                    list-style-position: inside;
                    list-style-type: disc;
                }
                li{
                    font-size: var(--fz-text);
                    font-weight: var(--fw-main);
                    line-height: var(--lh-txt);
                }
            }
            &__infor{
                display: none;
            }
        }
        //accessories
        .accessories{
            padding: 106px 0;
            &__title{
                margin-bottom: 28px;
                font-family: $ff-roboto;
                font-weight: var(--fw-title);
                font-size: var(--fz-title);
                line-height: var(--lh-brand);
                text-align: center;
                letter-spacing: var(--lt-2);
                text-transform: capitalize;
                color: $txt-color;
            }
            &__list{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 15px;
            }
            &__card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(100%/2);
                max-height: 370px;
                height: 25.694vw;
                border-radius: 3px;
                background-color: $bgd-accessories;
            }
            &__img{
                img{
                    max-height: 120px;
                    min-height: 80px;
                    height: 8.333vw;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            &__infor{
                margin: 16px auto 55px auto;
                text-align: center;
            }
            &__name{
                margin-bottom: 15px;
                &--link{
                    font-family: $ff-poppins;
                    font-weight: var(--fw-nav);
                    font-size: var(--fz-name);
                    line-height: var(--lh-title);
                    letter-spacing: var(--lt-2);
                    color: $txt-color;
                }
            }
            &__price{
                font-family: $ff-poppins;
                font-weight: var(--fw-main);
                font-size: var(--fz-name);
                line-height: var(--lh-price);
                color: $price-color;
            }
            &__btn{
                background: none;
                font-family: $ff-poppins;
                font-weight: var(--fw-nav);
                font-size: var(--fz-ft);
                line-height: var(--lh-add);
                letter-spacing: var(--lt-1);
                color: $btn-color;
                &:hover{
                    cursor: pointer;
                    opacity: 0.5;
                    transition: all .5s;
                }
            }
        }
    }
    //collections
    .collections{
        width: 100%;
        padding: 74px 0;
        background-color: $bgd-collections;
        &__title{
            padding: 0 0 28px 0;
            font-family: $ff-roboto;
            font-weight: var(--fw-title);
            font-size: var(--fz-title);
            line-height: var(--lh-brand);
            text-align: center;
            letter-spacing: var(--lt-1);
            text-transform: capitalize;
            color: $txt-color;
        }
        &__list{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 15px;
        }
        &__img{
            width: calc(100%/2);
            position: relative;
            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__brand{
            position: absolute;
            bottom: 24px;
            left: 32px;
            font-family: $ff-roboto;
            font-size: var(--fz-brand);
            font-weight: var(--fw-brand);
            line-height: var(--lh-title);
            color: $ft-txt;
            span{
                font-weight: var(--fw-title);
            }
        }
    }
    //Contact method
    & .contact-method{
        right: 0;
        bottom: 4px;
        z-index: 99;
        cursor: pointer;
        position: fixed;
        &__mess, &__phone{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 64px;
            max-height: 64px;
            width: 4.444vw;
            min-width: 44px;
            height: 4.444vw;
            min-height: 44px;
            margin-bottom: 16px;
            font-size: 25px;
            border: 1px solid white;
            border-radius: 32px;
            background-color: white;
            box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
            & .mess-icon{
                color: #357FFF;
            }
            & .phone-icon{
                color: #002A3A;
            }
        }
    }
}
//footer
footer{
    .ft-infor{
        background-color: $bgd-nav;
        .ft-container{
            display: flex ;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            max-width: 884px;
            margin: 0 auto;
            padding: 0 15px;        
        }
        &__hotline{
            font-family: $ff-poppins;
            font-weight: var(--fw-nav);
            font-size: var(--fz-ft);
            line-height: var(--lh-ft);
            letter-spacing: var(--lt-1);
            color: $ft-txt;
        }
        &__time{
            &--weekdays{
                font-family: $ff-poppins;
                font-weight: var(--fw-main);
                font-size: var(--fz-ft);
                line-height: var(--lh-ft);
                letter-spacing: var(--lt-1);
                color: $ft-txt;
            }
            &--line{
                padding: 0 8px;
            }
        }
        &__phone{
            display: flex;
            column-gap: 16px;
            padding: 13px 20.5px;
            border-radius: 3px;
            background: rgba(255, 255, 255, 0.1);
            .icon{
                color: $ft-txt;
            }
            &--number{
                font-family: $ff-poppins;
                font-weight: 600;
                font-size: 12px;
                line-height: 120%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $ft-txt;
            }
        }
    }
    .ft-nav{
        background-color: $bgd-footer;
        width: 100%;
        &__social{
            width: 100%;
            padding: 65px 0 50px 0;
            &--wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 186px;
                margin: 0 auto;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &__bar{
            padding: 0 0 61px 0;
        }
        &__list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 949px;
            margin: 0 auto;
            padding: 0 15px;
        }
        &__item{
            position: relative;
            &.line{
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: $ft-txt;
            }
            
        }
        &__link{
            font-family: $ff-poppins;
            font-weight: var(--fw-main);
            font-size: var(--fz-navbar);
            line-height: var(--lh-btn);
            text-transform: capitalize;
            color: $ft-txt;
        }
        &__copyright{
            padding: 0 0 15px 0;
            p{
                font-family: $ff-sanspro;
                font-weight: var(--fw-main);
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                opacity: 0.5;
                color: $ft-txt;
            }
        }
    }
}
